<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="n-3 text-center">
    <form class="form-inline" (ngSubmit)="onsubmit(f)" #f="ngForm">
      <div class="form-group">
        <input type="search"
                class="form-control"
                placeholder="Entrez la musique à rechercher"
                name="search"
                ngModel
                required>
      </div>
      <button type="submit" class="btn btn-primary">
        Search
      </button>
    </form>
    <hr/>
    <app-music-list [musics]="ituneservice.music"></app-music-list>
  </div>
</div>

<div class="about">
  <div class="main-about">
    <div class="inner-about">
        <div class="about-content">
          <h1> About us </h1>
          <h5> REA-EXPRESS, est une société crée en 2002 à Ouagadougou au BURKINA FASO. <br>
          Notre but est de contribuer au développement dans l'approvisionnement en réactifs, <br>
          consommables et équipements médicaux et biomédicaux au Burkina Faso et dans la sous-région.
          </h5>
          <a href="#"> Lire plus</a>
        </div>

      </div>
    <div class="inner-about">
      <div class="inner-about-image">
        <!-- <img src="/assets/images/automatehmatologie.jpg" alt=""> -->
      </div>
    </div>
  </div>
</div>

