.comCom{
  padding: 4rem 7%;
  background: url(/assets/images/marbre.png);
  width: 100%;
  height: 100vh;
}

.main-comCom{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.inner-comCom{
  flex: 1 1 40rem;

}


.comCom-content h1{
  font-size: 40px;
  top: 30%;
  color: var(--mainclr);
}

.comCom-content h3{
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.comCom-content h3 a{
 text-decoration: none;
 color: var(--mainclr);
 transition: .5s;
}

.comCom-content h3 a:hover{
  color: green;
}

.comCom-content h2 a{
  text-decoration: none;
  color: var(--mainclr);
  transition: .5s;
 }

.comCom-content h2 a:hover{
  color: green;
}


