<section id="comCom">
  <div class="comCom">
    <div class="main-comCom">
      <div class="inner-comCom">
          <div class="comCom-content">
            <br> <br> <br>
            <h1> COMMENT COMMANDER </h1> <br>
            <h2>
              Pour une commande en ligne, vous avez les étapes suivantes à suivre : <br> <br> <br>
            </h2>

            <h3>
              <ol>
                <li>
                  <h2>Identification</h2> <br>
                  <h3>
                    L'identification se fait au niveau de la page d'accueil. <br>
                    Si vous avez déjà un compte chez nous; il suffit de renseigner le login et le password de la fenêtre de connexion puis cliquer sur le bouton Connecter. <br>
                    Si vous n'avez pas encore de compte, nous vous donnons aussi la possibilité de passer votre commande. <br>
                    Pour ce faire, cliquer sur le lien se trouvant sous la fenêtre de connexion et renseigner les informations demandées.
                  </h3>
                </li>

                <li>
                  <h2>Recherche des produits</h2>
                  <h3>
                    La recherche des produits se fait dans la fenêtre des Produits. <br>
                    Les différents produits sont regroupés en groupe (Biochimie, Microbiologie, Hématologie, Sérologie, Test rapide, Produits chimiques et colorants, Petits matériels et consommables ...) pour faciliter la recherche. <br>
                    Il suffit de cliquer sur le lien du sous-groupe pour obtenir la liste de tous les produits du sous-groupe. <br>
                    Aussi vous pouvez utiliser l'option Rechercher pour retrouver un produit. Par exemple, lorsqu'on saisi «tube » comme produit à rechercher, tous les produits contenant le mot "tube" seront retournés.
                  </h3>
                </li>

                <li>
                  <h2>Le choix des produits</h2>
                  <h3>
                    Pour ajouter un produit à votre panier (votre commande), retrouvez le produit dans la liste obtenue au paragraphe 2 ci-dessus. <br>
                    Au niveau de la colonne opération, saisissez la quantité puis cliquez sur le bouton =>. <br>
                    Avant l'ajout du produit, vous pouvez visualiser le détails du produit (voir photo ou catalogue par exemple) en cliquant sur le lien de la colonne description. <br>
                    Sur la fenêtre de détails obtenue, vous pouvez directement ajouter le produit dans votre panier en précisant la quantité
                  </h3>
                </li>

                <li>
                  <h2>Visualisation de votre panier</h2>
                  <h3>
                    Cette fenêtre vous permet de visualiser les produits de votre panier et porter des corrections si nécessaire. <br>
                    On accède à cette fenêtre en cliquant sur le lien "voir votre panier". <br>
                    Ici, vous avez la possibilité de retirer un produit de votre panier, d'ajouter ou de retirer un certain nombre de quantité d'un produit donné.
                  </h3>
                </li>

                <li>
                  <h2>Validation de votre panier</h2>
                  <h3>
                    Lorsque votre panier est prêt, il suffit de cliquer sur le bouton "valider la commande". <br>
                    Pour les clients ayant déjà un compte, un bon de commande nous sera envoyé. <br>
                    Pour ceux qui n'ont pas de compte une demande de prix sera envoyé directement à Univers Bio médical.
                  </h3>
                </li>
              </ol>
            </h3>

            <h2>Pour une commande par courrier électronique</h2> <br>
            <h3>
              Pour passer une commande ou demande de prix par e-mail, <br>
              notez avec précision les références et les noms des produits que vous souhaitez commander  <br>
              et envoyez le message à <a href="mailto:order@unibio.bf">order@unibio.bf</a>
            </h3>

            <h2>Pour une commande par fax</h2>
            <h3>
              Pour passer une commande ou demande de prix par fax, notez avec précision les références et les noms des produits que vous souhaitez commander <br>
              et envoyez le message au (+226) 50 37 71 11
            </h3>

            <h2>Pour une commande par téléphone</h2>
            <h3>
              Appellez le numéro (+226) 50 37 25 12. <br>
              Un personnel accueillant est disponible au heures ci-dessous : <br> <br>

              Du lundi au vendredi de 7h30 à 12h30 GMT et de 15h00 à 18h00 GMT <br>
              Le samedi de 8h à 12h GMT
            </h3>

            <h2>Pour une commande en se déplaçant sur notre site</h2>
            <h3>
              Vous désirez vous rendre à notre siège pour vos commandes ? <br>
              <a [routerLink]="['/plan-acces']">Cliquez ici pour voir le plan d'accès .</a>
            </h3>

            <h2>
              <a [routerLink]="['/condition-vente']">Vous pouvez également consulter nos conditions de vente pour plus d'information, en cliquant ici.</a>
            </h2>
          </div>
        </div>
    </div>
  </div>



