<section id="conVent">
  <div class="conVent">
    <div class="main-conVent">
      <div class="inner-conVent">
          <div class="conVent-content">
            <br> <br> <br>
            <h1> Conditions de Ventes </h1> <br>
            <h2>
              NOS CONDITIONS DE VENTE SONT SEULES VALABLES ET REPUTEES ACCEPTEES PAR L'ACHETEUR. <br>
              TOUTE CLAUSE CONTRAIRE DOIT FAIRE L'OBJET D'UN ACCORD AVEC UNIVERS BIO-MEDICAL SARL. <br> <br> <br>
            </h2>

            <h3>
              <ol type="I">
                <li>
                  <h2>DESCRIPTION</h2> <br>
                  <h3>
                    Les illustrations dans les catalogues ou fiches produits ne sont données qu'à titre indicatif et peuvent subir des modifications. <br>
                    De même, poids et dimensions ne sont qu'approximatifs ; ils ne peuvent en aucun cas être la cause de réclamation ou de réductions. <br>
                    Nous nous réservons, par exemple, le droit de modifier nos articles selon les perfectionnements que préconisent nos fournisseurs. <br>
                    Nos devis, prospectus ainsi que les idées originales qu'ils renferment, restent la propriété de UNIVERS BIO-MEDICAL SARL <br>
                    et ne peuvent en aucun cas être communiqués à des tierces personnes.
                  </h3>
                </li>
                <li>
                  <h2>Usage</h2>
                  <h3>
                    ous les équipements, produits et réactifs que nous fournissons sont destinés à des usages de laboratoire d'analyses médicales. <br>
                    Nous déclinons toute responsabilité dans le cas où ces fournitures feraient l'objet d'un usage impropre à leur destination originale. <br>
                    Les utilisateurs seuls sont responsables des manipulations et utilisations effectuées avec nos équipements. <br>
                    Il devront en particulier veiller à ce que ces usages soient conformes aux prescriptions légales, <br>
                    notamment en ce qui concerne la sécurité des personnes et toute dispositions relatives à l'hygiène, <br>
                    à la sécurité du travail et à la prévention des accidents.
                  </h3>
                </li>
                <li>
                  <h2>PRIX ET VALIDITE</h2>
                  <h3>
                    Nos prix sont nets hors taxe, franco de port et d'emballage pour toute commande d'un montant supérieur à 125 000 F hors TVA, <br>
                    bexpédiée par la voie la plus économique sur le territoire Burkinabé; ils sont sans engagement. <br>
                    Pour toute commande inférieure à 125 000 hors TVA, il est décompté une participation aux frais d'envoi. Pour les commandes destinées à l'export, <br>
                    nos prix s'entendent départ nos entrepôts en Hors Taxe, Hors Douane. Pour toute expédition de produits chimiques ou biologiques, <br>
                    ainsi que pour toute expédition effectuée à la demande du client par voie spéciale ou express, les frais correspondants sont décomptés sur facture. <br>
                    Nos devis restent valables deux mois sauf spécifications particulières. Les prix de nos catalogues sont valables au moment de la mise sous presse <br>
                    et sont en principe valables pour l'année en cours. Nous nous réservons toutefois le droit de modifier nos prix sans préavis, notamment en cas de variation des taux de change, <br>
                    des tarifs constructeurs ou de la fiscalité douanière.
                  </h3>
                </li>
                  <li>
                    <h2>REDACTION DES COMMANDES</h2>
                    <h3>
                      Nous recommandons d'utiliser les codes et dénominations figurant sur nos catalogues ou offres. <br>
                      Si une erreur de livraison devait survenir par suite d'une imprécision, nous en déclinerions toute responsabilité.
                    </h3>
                  </li>

                  <li>
                    <h2>ACCEPTATION DES COMMANDES</h2>
                    <h3>
                      Toute commande n'engage UNIVERS BIO-MEDICAL SARL qu'après confirmation écrite par ses soins. <br>
                      Les cas de force majeure (les incendies, inondations, bris de machines, grèves, guerres <br>
                      et tout autre accident qui empêchent ou réduisent les fabrications) nous dégagent de l'obligation de livrer.
                    </h3>
                  </li>

                  <li>
                    <h2>PAIEMENT</h2>
                    <h3>
                      Toute commande ne sera enregistrée qu'a réception du paiement intégral, soit par chèque ou par virement bancaire <br>
                      au compte de: UNIVERS BIO-MEDICAL SARL BANQUE: BANQUE AGRICOLE ET COMMERCIALE DU BURKINA N° COMPTE : 00 025663 2330 IBAN : C 30037 01001 00 025663 2330 - 46 SWIFT : CNCBBFBF
                    </h3>
                  </li>

                  <li>
                    <h2>DELAI</h2>
                    <h3>
                      Les délais de livraisons indiqués sur nos factures proforma sont donnés de bonne foi, mais sans engagement. <br>
                      Toute pénalité de retard est exclue. Si l'acheteur ne peut prendre possession de la marchandise à la date de mise à disposition, <br>
                      toutes les mesures doivent être prises pour stocker celle-ci dans les meilleures conditions. Les frais de stockage seront à la charge de l'acheteur. <br>
                      La période de stockage ne modifie pas la date à laquelle les marchandises sont réputées livrées et ne prolonge pas la période de garantie.
                    </h3>
                  </li>

                  <li>
                    <h2>EXPEDITIONS AVARIES DE TRANSPORT</h2>
                    <h3>
                      Nos produits voyagent aux risques et périls du destinataire (Art. 100 du Code de Commerce) qu'ils soient expédiés en port dû, <br>
                      port payé ou franco de port. Il est donc recommandé à nos clients de donner décharge au dernier transporteur qu'après s'être assuré que l'envoi est complet et en parfait état. <br>
                      Nous nous réservons le droit d'assurer nos envois pour le compte de nos clients contre les risques de transport habituels. <br>
                      En cas d'avarie, manquants etc... Il appartient au destinataire d'adresser ses réclamations par lettre recommandée au dernier transporteur <br>
                      et de nous en aviser également par écrit ; ceci dans un délai de 3 jours à compter de la date de réception. <br>
                      Notre responsabilité ne saurait être mise en cause pour dégradations ou altérations de qualité relevant du fait du transport. <br>
                      Il est recommandé de bien vérifier le contenu des cartons, de ne rien jeter sans s'être assuré que l'emballage ne contient plus aucun objet.
                    </h3>
                  </li>

                  <li>
                    <h2>IMPORT</h2>
                    <h3>
                      Les acheteurs hors du Burkina Faso auront au préalable pris connaissance des normes, usages et législations en vigueur dans leur pays, <br>
                      concernant l'importation, l'utilisation et la mise sur le marché des produits vendus par UNIVERS BIO-MEDICAL SARL. <br>
                      Notre responsabilité ne pourrait être engagée pour des litiges survenus en territoire étranger.
                    </h3>
                  </li>

                  <li>
                    <h2>INSTALLATION</h2>
                    <h3>
                      Nos prix s'entendent hors installation sauf spécification contraire. <br>
                      Dans ce cas le client devra s'assurer que ses locaux sont aptes à recevoir le matériel attendu conformément aux caractéristiques techniques figurant dans les notices du constructeur. <br>
                      En particulier les arrivées de fluides et d'électricité devront répondre aux exigences du constructeur et aux normes de sécurité en vigueur.
                    </h3>
                  </li>

                  <li>
                    <h2>RETOUR DE MARCHANDISES</h2>
                    <h3>
                      Le retour pour reprise de marchandises neuve doit faire l'objet d'un accord préalable avec UNIVERS BIO-MEDICAL SARL.
                    </h3>
                  </li>

                  <li>
                    <h2>GARANTIE</h2>
                    <h3>
                      <ol>
                        <li>
                          <h4>GARANTIE</h4>
                          <ul>
                            <li>
                              <h4>Durée</h4>

                              <h5>
                                A dater du jour de l'expédition figurant sur la facture, UNIVERS BIO-MEDICAL SARL offre une garantie de 12 mois pièces et main-d'oeuvre en ses ateliers. <br>
                                Les frais de port restent à la charge de l'acheteur. <br>
                                Sur demande la réparation au titre de la garantie peut être effectuée sur place, <br>
                                les frais de déplacement et de séjour restent à la charge de l'acheteur. <br>
                                Toute autre indemnité pour quelque motif que ce soit est formellement exclue.
                              </h5>
                            </li>

                            <li>
                              <h4>Restrictions :</h4>
                              <ul style="list-style-type: circle;">
                                  <li><p>utilisation anormale ou non conforme à la notice du constructeur;</p></li>
                                  <li><p>détérioration consécutive au transport (voir article sur expédition) ;</p></li>
                                  <li><p>surtension même momentanée du secteur (maximum autorisé ± 10%) ;</p></li>
                                  <li><p>condensation, gel, surchauffe, inondation ;</p></li>
                                  <li><p>cessation d'activité du fabricant.</p></li>
                              </ul>
                            </li>

                            <li>
                              <h4>Certaines pièces sont expressément vendues sans aucune garantie :</h4>
                              <ul style="list-style-type: circle;">
                                  <li><p>verrerie, y compris lampes, tubes, thermomètres et électrodes ;</p></li>
                                  <li><p>couteaux ou similaires ;</p></li>
                                  <li><p>résistances chauffantes ou similaires ;</p></li>
                                  <li><p>piles, batteries.</p></li>
                              </ul>
                              <h4>
                                Ces pièces peuvent toutefois être échangées au titre de la casse en cours de transport (article VI) si les réserves sont faites en temps utile.
                              </h4>
                            </li>

                            <li>
                              <h4>Réparation et entretien hors garantie</h4>


                              <h5>
                                Après la période de garantie, notre Service Après-vente intervient sur place ou répare tout appareil UNIVERS BIO-MEDICAL SARL <br>
                                en ses ateliers à réception d'un bon de commande régulier. <br>
                                Toute pièce remplacée est garantie 3 mois (main-d'oeuvre et déplacement exclus). <br>
                                Un devis préalable est fourni sur demande. L'établissement du devis est gratuit s'il est suivi d'une acceptation; <br>
                                en cas de refus il fait l'objet d'une facturation forfaitaire couvrant les frais de remontage et de retour. <br>
                                Nous nous réservons le droit de décliner la réparation d'un appareil trop ancien ou non fourni par UNIVERS BIO-MEDICAL SARL.
                              </h5>
                            </li>

                          </ul>

                        </li>
                        <br>
                        <li>
                          <h4>DOMMAGES ET INTERETS</h4>

                          <h5>
                            Notre garantie se limite au remplacement des pièces et à la réparation dans les conditions sus énoncées, toute autre indemnité est formellement exclue.
                          </h5>
                        </li>

                      </ol>
                    </h3>
                  </li>

                  <li>
                    <h2>COUT DU FRET</h2>
                    <h3>
                      Le coût du fret indiqué sur nos facture proforma est donné de bonne foi, mais sans engagement, il peut être réajusté à sa valeur réelle lors de la facturation.
                    </h3>
                  </li>

                  <li>
                    <h2>CLAUSE DE RESERVE DE PROPRIETE</h2>
                    <h3>
                      UNIVERS BIO-MEDICAL SARL se réserve la propriété des marchandises livrées jusqu'au paiement intégral de toutes sommes qui lui sont dues par l'acheteur du fait de ses livraisons. <br>
                      Ces marchandises sont présumées être la propriété du vendeur à concurrence des dettes échues ou non de l'acheteur à l'égard du vendeur. <br>
                      Le vendeur pourra résilier la vente et reprendre la totalité des marchandises faisant l'objet de la réserve de propriété soit si une facture venue à échéance n'est pas réglée et ce après la mise en demeure de l'acheteur, <br>
                      si cette mise en demeure est considérée comme indispensable par la loi applicable au présent contrat, soit dans le cas de détérioration du crédit de l'acheteur. <br>
                      Cette clause n'exclut en rien une action éventuelle en dommage et intérêts de UNIVERS BIO-MEDICAL SARL, destinée à compenser le manque à gagner ou le préjudice qu'elle aura subi.
                    </h3>
                  </li>

                  <li>
                    <h2>LIEU DE JURIDICTION</h2>
                    <h3>
                      OUAGADOUGOU
                    </h3>
                  </li>

                </ol>
            </h3>


          </div>
        </div>
    </div>
  </div>

