<section id="read">
  <div class="read">
    <div class="main-read">
      <div class="inner-read">
          <div class="read-content">
            <br> <br> <br>
            <h1> A propos de Nous (Suite) </h1> <br>
            <h2>
              REA-EXPRESS donne aux formations sanitaires privées et publiques, <br>
              la possibilité de sécuriser leurs investissements en équipements médicaux, <br>
              en mettant à leur disposition des équipements et des réactifs de meilleur ratio qualité- <br>
              coût et un service après-vente efficace.
            </h2>
              <br> <br>
            <h2>
              Depuis la création, le management de REA-EXPRESS a entrepris une étude de <br>
              sélection et de négociation de haut niveau, directement avec des fabricants de <br>
              matériels médicotechniques, réactifs et consommables médicaux dans le monde <br>
              entier. Aujourd'hui, nous avons obtenu sans intermédiaire, la confiance de plus de 20 <br>
              fabricants de l'Europe, de l'Asie et des Etats-Unis d'Amérique qui ont au-moins dix <br>
              années d'expérience et qui ont prouvé leur savoir-faire non seulement dans la <br>
              fabrication des équipements médicaux et de la recherche et développement mais <br>
              aussi sur la rigueur du management. Si nous avons pu gagner la confiance et la <br>
              collaboration de ces grandes sociétés présentes dans l'industrie des équipements et <br>
              réactifs biomédicaux, c'est parce que nous les avons convaincues, non seulement de <br>
              par notre organisation mais surtout de par la qualité de notre service technique qui <br>
              jusqu'ici a donné à nos clients 100 % satisfaction, dans le processus de distribution <br>
              installation -formation et le service après-vente. <br>
            </h2>

          </div>
        </div>
    </div>
  </div>




