<br><br><br><br><br>
<!-- <section id="login">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>Connectez-vous</h1>
            <h5>Veuillez entrer votre E-mail ainsi que votre Mot de Passe</h5>
          </div>
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Adresse E-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mot de Passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</section> -->





<section id="login">
  <div class="login">
    <div class="main-login">
      <div class="inner-login">
          <div class="login-content">
            <br> <br> <br>
            <h1> Connectez-vous</h1> <br>
            <h3>Veuillez entrer votre E-mail ainsi que votre Mot de Passe</h3>

            <div class="card">
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Adresse E-mail</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Mot de Passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>

          </div>
        </div>
    </div>
  </div>
</section>





