.login{
  padding: 10rem 7%;
  background: url(/assets/images/marbre.png);
}

.main-login{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.inner-login{
  flex: 1 1 40rem;

}


.login-content h1{
  font-size: 40px;
  top: 30%;
  color: var(--mainclr);
}

.login-content h3{
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.card{
  margin-top: 10px;
  border: none;
  width: 500px;
  padding: 40px;
  position: relative;
  /* left: 50%;
  top: 50%; */


}

