<div class="preHeader">
  <div class="content">




      <div class="form">
      <form class="d-flex me-2">
          <input class="form-control me-5" type="search" placeholder="Recherche rapide" style="font-size: 1.5rem;" >
          <button class="btn btn-outline-light" type="submit"> <h5>Rechercher</h5></button>
        </form>
      </div>



  </div>


</div>
<br> <br> <br>
<header class="header">
  <img src="assets/images/Logo.jpg" id="logo" alt="">
  <nav class="navbar">
    <a (click)="toBgrd()" [routerLink]="['home']" routerLinkActive="active">Acceuil</a>
    <!-- <a class="nav-link" [routerLink]="['catalogue']">Catalogues</a> -->
    <a (click)="toAbout()" routerLinkActive="active">A propos de Nous</a>
    <a (click)="toProducts()" routerLinkActive="active">Nos Produits</a>
    <!-- <a class="nav-link" [routerLink]="['connecter']">Mon compte</a> -->
    <a (click)="toGallery()" routerLinkActive="active">Galerie</a>
    <a (click)="toContact()" routerLinkActive="active">Nous Contacter</a>
    <a [routerLink]="['itune']" routerLinkActive="active">It</a>
  </nav>

  <div class="icons">
  <div id="menubar" (click)="CallExternalJsFunction()" class="fa fa-bars"></div>
  <a [routerLink]="['/login']" >Compte</a>
 </div>

 <div class="dash">
  <a [routerLink]="['/dashbord']" >Dashbord</a>
 </div>

<!--
  <div class="form">
  <form class="d-flex me-2">
      <input class="form-control me-5" type="search" placeholder="Recherche rapide">
      <button class="btn btn-outline-light" type="submit">Rechercher</button>
    </form>
  </div> -->

</header>

