
.background-image{
  background: url(/assets/images/BGG.PNG);
  width: 100%;
  height: 100vh;
  /* background-size: cover; */
  background-repeat: no-repeat;
  padding-top: 6%;
  position: relative;

}

section{
  scroll-snap-align: start;
}

.ensemble{
  scroll-snap-type: mandatory;
  overflow: hidden;
}

.bgrd-image{
  background: url(/assets/images/bgrd3.PNG);
  width: 100%;
  height: 100vh;
  background-size: 40%;
  background-attachment: fixed;
  z-index: -1;
}

.bgrdPosition{
  background: rgba(100, 100, 100, 0.5);
  width: 100%;
  height: 100vh;
  /* background-size: cover; */
  background-repeat: no-repeat;
  padding-top: 6%;
  position: relative;
  opacity: 0;

}

.bg{
  opacity: 1!important;
  transition: .5s all ease;
  animation-duration: 3s;
  animation-name: underground;
}

@keyframes underground {
  0% {opacity: 0.1!important;}
  10% {opacity: 0.2!important;}
  20% {opacity: 0.3!important;}
  30% {opacity: 0.4!important;}
  40% {opacity: 0.4!important;}
  50% {opacity: 0.6!important;}
  60% {opacity: 0.7!important;}
  70% {opacity: 0.8!important;}
  80% {opacity: 0.9!important;}
  90% {opacity: 0.99!important;}
  /* 100% {opacity: 1!important;} */




}

.bgrd-image2{
  background: url(/assets/images/bgrd3.PNG);
 width: 100%;
 height: 50vh;
 background-size: 50%;
 background-attachment: fixed;
}

.background-content{
  position: absolute;
  top: 30%;
  left: 45%;
  width: 50%;
  transform: translate(-80%);
}

.background-content h1{
  background: var(--mainclr);
  padding: 1.5rem 3rem;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  font-size: 35px;
  transition: .5s;

  margin-bottom: 20px;

}

/* .background-content h2{
  font-size: 1.5rem;
  margin-bottom: 45px;
  color: black;

} */

/* .background-content a{
  background: var(--mainclr);
  padding: 1.5rem 3rem;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: .5s;

} */

.background-content h1:hover{
  background: transparent;
  border: 1px solid var(--mainclr);
  color:black;
}

.about{
  padding: 4rem 7%;
  background: url(/assets/images/marbre.png);
  width: 100%;
}
.main-about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
}

.inner-about{
  flex: 1 1 45em;
}
.inner-about .inner-about-image img{
  width: 100%;

}

.about-content{
  width: 100%;
}

.about-content h1{
  font-size: 40px;
  margin-bottom: 15px;

}
.about-content h5{
  font-size: 1.5rem;
  margin-bottom: 30px;

}

.about-content a{
  background: var(--mainclr);
  padding: 1rem 3rem;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: .5s;


}

.about-content a:hover{
  background: transparent;
  border: 1px solid var(--mainclr);
  color:black;


}

.our-products{
  padding: 4rem 7%;
  background: url(/assets/images/marbre.png);
  width: 100%;

}

.product-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;

}

.left-product-content{
  flex: 1 1 45rem;
}

.right-product-content{
  flex: 1 1 45rem;
  display: flex;
  justify-content: flex-end;
}

.left-product-content h1{
  font-size: 40px;
  margin-bottom: 15px;
}

.left-product-content h5{
  font-size: 1.5rem;

}

.right-product-content .right-btn a{
  background: var(--mainclr);
  padding: 1rem 3rem;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  transition: .5s;

}

.right-product-content .right-btn a:hover{
  background: transparent;
  border: 1px solid var(--mainclr);
  color:black;

}
.main-products{
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

}

.inner-product-content{
  flex: 1 1 300px;
  padding: 2rem 1rem;
  text-align: center;

}

.product-icon i{
  font-size: 4rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  text-align: center;
  line-height: 8rem;
  background-color: #81D8D0;
  color: var(--mainclr);
  margin-bottom: 15px;
  transition: .5s;
}

.product-icon i:hover{
  color: white;
  background: var(--mainclr);
}

.inner-product-content a{
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 10px;
  color: black;
  transition: .5s;

}






.inner-product-content a:hover{
  background:transparent;
  color: var(--mainclr);
}



.gallery{
  padding: 4rem 7%;
  background: url(/assets/images/marbre.png);


}

.gallery h1{
  color: var(--mainclr);
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.main-gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;

}

.inner-gallery{
  flex: 1 1 300px;
}

.inner-gallery img{
  width: 50%;
  transition:transform .5s;

}

.inner-gallery:hover img{
  width: 50%;
  transform:scale(1.1);

}

.why-choseUs{
  padding: 4rem 7%;
  background: url(/assets/images/marbre.png);
  width: 100%;

}

.main-chose{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.inner-chose{
  flex: 1 1 45rem;
}

.inner-chose img{
  width: 100%;
}

.inner-chose h1{
  font-size: 40px;
  color: var(--mainclr);

}

.main-inner-chose{
  display: flex;
  align-items: center;
  margin: 1rem 0 ;
}

.chose-icon i{
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  background: white;
  color: var(--mainclr);
  font-size: 3rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-content{
  padding: 0 2rem;

}
.icon-content text{
  font-size: 1.5rem;
  line-height: 1;
}

.contact{
  padding: 4rem 7%;
  background: url(/assets/images/marbre.png);
  width: 100%;
}


.main-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.inner-contact{
  flex: 1 1 45rem;
}

.inner-contact img{
  width: 60%;
}

.inner-contact h1{
  font-size: 40px;
  margin-bottom: 15px;
  color: var(--mainclr);

}

.inner-contact h5{
  font-size: 1.5rem;
  margin-bottom: 30px;

}

.inner-contact a{
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-decoration: none;
  transition: .3s;
  color: var(--mainclr);


}

.inner-contact a:hover{
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-decoration: none;
  color: green;


}

.main-inner-contact{
  display: flex;
  align-items: center;
  margin: 1rem 0 ;
}






@media (max-width:1100px) {

  .background-content{

    width: 100%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding-left: 5rem;

  }

  .inner-about .inner-about-image img{
     margin-top: 20px;
    width: 60%;
  }

  /* .main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

  } */

  /* .inner-gallery{
    flex: 1 1 1 260px;
  } */

  .inner-gallery img{
    width: 60%;
    transition:transform .5s;

  }

  .inner-gallery:hover img{
    width: 60%;
    transform:scale(1.1);

  }

  .inner-chose img{
    width: 80%;
  }

  .inner-contact img{
    width: 50%;
  }



















}

