.dashbord{
  padding: 4rem 7%;
  background: url(/assets/images/marbre.png);
  width: 100%;
  height: 100vh;
}

.main-dashbord{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.inner-dashbord{
  flex: 1 1 40rem;

}

.dashbord-content h1{
  font-size: 40px;
  top: 40%;
  color: var(--mainclr);
  padding-left: 30%;
}
