

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer">

</script>
<script type="text/javascript">
 $(window).scroll(function(){
  var scroll = $(window).scrollTop();
  $('bgrd-image').css({
    width: (50 + scroll/5) + '%'
  })
})

</script> -->
<br> <br> <br> <br>
<div id="bgrd" class="bgrd-image">
  <div class="bgrdPosition" [class.bg]="bgVariable"></div>
</div>




<div class="ensemble">

  <section id="home" data-aos="fade-down" data-aos-duration="1500">
    <div class="background-image" >
      <div class="background-content">
        <h1> BIENVENUE </h1>
        <h2> <i>Ici Nous Possédons une grande sélection d'équipements médicaux de qualité<br> pour répondre à tous vos besoins.</i> </h2>
      </div>
    </div>
  </section>

  <div id="bgrd" class="bgrd-image2">
  </div>

  <section id="about">
    <div class="about" >
      <div class="main-about">
        <div class="inner-about" data-aos="fade-up" data-aos-duration="1000">
            <div class="about-content">
              <h1 style="color: var(--mainclr);"> A propos de Nous </h1> <br> <br> <br> <br> <br> <br> <br> <br>
              <h5> REA-EXPRESS, est une société crée en 2002 à Ouagadougou au BURKINA FASO. <br>
              Notre but est de contribuer au développement dans l'approvisionnement en réactifs, <br>
              consommables et équipements médicaux et biomédicaux au Burkina Faso et dans la sous-région.
              </h5>
              <a (click)="toRead()" [routerLink]="['/read-more']" routerLinkActive="active"> Lire plus</a>
            </div>

          </div>
        <div class="inner-about" data-aos="fade-down" data-aos-duration="1000">
          <div class="inner-about-image">
             <img src="/assets/images/automatehmatologie.jpg" alt="">
          </div>
        </div>
      </div>
    </div>

  </section>
  <div id="bgrd"  class="bgrd-image2">
  </div>

  <section id="products" data-aos="zoom-in" data-aos-duration="1000">
    <div class="our-products">
      <div class="product-content">
        <div class="left-product-content">
          <h1 style="color: var(--mainclr);"> Le catalogue </h1> <br>
          <h5>Bonjour,
            Nous vous proposons une gamme de produits très variés. <br>
            Utilisez le menu de gauche pour accéder aux produits d'un groupe donnée. <br>
            Vous pouvez aussi utiliser la zone de recherche rapide et zone de recherche avancée, <br>
            pour retrouver vos produits.
            <br><br>
            Cordialement,<br>
            L'Equipe REA-EXPRESS
          </h5> <br> <br> <br> <br> <br>
        </div>
        <div class="right-product-content">
          <div class="right-btn">
            <a href=""> Voir tous les produits</a>
          </div>
        </div>
      </div>

      <div class="main-products">
        <div class="inner-product-content">
          <div class="product-icon">
            <i class="fa fa-ambulance"></i> <br>
            <a href="">Laboratoire</a>
          </div>
        </div>

        <div class="inner-product-content">
          <div class="product-icon">
            <i class="fa fa-medkit"></i> <br>
            <a href="">Medecine</a>
          </div>
        </div>

        <div class="inner-product-content">
          <div class="product-icon">
            <i class="fa fa-heartbeat"></i> <br>
            <a href="">Banque de Sang</a>
          </div>
        </div>

        <div class="inner-product-content">
          <div class="product-icon">
            <i class="fas fa-user-md"></i> <br>
            <a href="">PCR</a>
          </div>
        </div>


      </div>

    </div>
  </section>

  <div id="bgrd"  class="bgrd-image2">
  </div>

  <section id="gallery">
    <div class="gallery">
      <h1> Galerie</h1>
      <div class="main-gallery">

        <div class="inner-gallery" data-aos="fade-left" data-aos-duration="1000">
          <img src="/assets/images/laboratoire/lab8.PNG" alt="">
        </div>

        <div class="inner-gallery" data-aos="fade-left" data-aos-duration="1000">
          <img src="/assets/images/Imagerie/imm1.PNG" alt="">
        </div>

        <div class="inner-gallery" data-aos="fade-left" data-aos-duration="1000">
          <img src="/assets/images/laboratoire/lab13.PNG" alt="">
        </div>

        <div class="inner-gallery" data-aos="fade-right" data-aos-duration="1000">
          <img src="/assets/images/Sang/sang8.PNG" alt="">
        </div>

        <div class="inner-gallery" data-aos="fade-right" data-aos-duration="1000">
          <img src="/assets/images/laboratoire/lab6.PNG" alt="">
        </div>

        <div class="inner-gallery" data-aos="fade-right" data-aos-duration="1000">
          <img src="/assets/images/Sang/sang14.PNG" alt="">
        </div>

        <div class="inner-gallery" data-aos="fade-left" data-aos-duration="1000">
          <img src="/assets/images/Pcr/pcrD1.PNG" alt="">
        </div>

        <div class="inner-gallery" data-aos="fade-left" data-aos-duration="1000">
          <img src="/assets/images/Pcr/pcrE3.PNG" alt="">
        </div>

        <div class="inner-gallery" data-aos="fade-left" data-aos-duration="1000">
          <img src="/assets/images/Pcr/pcrR1.PNG" alt="">
        </div>

        <div class="inner-gallery">
          <!-- <img src="/assets/images/Pcr/pcrR1.PNG" alt=""> -->
        </div>

      </div>
    </div>
  </section>

  <div id="bgrd"  class="bgrd-image2">
  </div>


  <section id="why-choseUs" >

    <div class="why-choseUs">

      <div class="main-chose">
        <div class="inner-chose" data-aos="fade-right" data-aos-duration="1000">
          <img src="/assets/images/choix1.jpg" alt="">
        </div>

        <div class="inner-chose" data-aos="fade-left" data-aos-duration="1000">
          <h1 style="color: var(--mainclr);">Pourquoi nous choisir</h1>

          <div class="inner-chose-content">
            <div class="main-inner-chose">
              <div class="chose-icon">
                <i class="fas fa-user-md"></i>
              </div>
              <div class="icon-content">
                <div class="text">
                  <h3>notre vision</h3>
                  <h5>Œuvrer à l'amélioration de la qualité des soins de santé.</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-chose-content">
            <div class="main-inner-chose">
              <div class="chose-icon">
                <i class="fas fa-user-md"></i>
              </div>
              <div class="icon-content">
                <div class="texte">
                  <h3>notre Mission</h3>
                  <h5>Mettre à la disposition du système de santé, <br>
                    des réactifs et des équipements de meilleur ratio qualité-coût <br>
                    tout en sécurisant les investissements <br>
                    par un service après-vente efficace.</h5>
                </div>
              </div>

            </div>
          </div>

          <div class="inner-chose-content">
            <div class="main-inner-chose">
              <div class="chose-icon">
                <i class="fas fa-user-md"></i>
              </div>
              <div class="icon-content">
                <div class="texte">
                  <h3>Nos Valeurs</h3>
                  <h5>
                    <ul>
                      <li>L'innovation est l'arme que nous avons choisie pour devancer nos concurrents.</li>
                      <li>La qualité et le prix de nos produits constituent nos principaux atouts.</li>
                      <li>Le professionnalisme de notre personnel fait notre différence.</li>
                      <li>La satisfaction de notre clientèle est la raison pour laquelle nous nous <br>évertuons chaque instant.</li>
                    </ul>
                  </h5>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

  <div id="bgrd"  class="bgrd-image2">
  </div>

  <section id="contact">

    <div class="contact">

      <div class="main-contact">

        <div class="inner-contact" data-aos="fade-right" data-aos-duration="1000">


          <img src="/assets/images/contact1.jpg" alt="">

        </div>

        <div class="inner-contact" data-aos="fade-left" data-aos-duration="1000">
          <div class="contact-content">
            <h1> Contactez-nous</h1> <br> <br> <br> <br>
            <div class="text">
              <h5> Vous souhaitez obtenir plus d'informations sur notre entreprise, <br> ou avez une demande particulière à nous formuler : <br> <a [routerLink]="['/mail-send']"> Merci de nous envoyer un email</a> ou passer nous rendre visite </h5> <br> <br>

              <h3>
                REA-EXPRESS <br>
                BP 647 CMS Ouagadougou 11 <br>
                TEL +226 25 33 39 91 <br>
                FAX +226 25 33 39 22 <br>
                GSM +226 25 33 39 91 <br>
                E-mail rea_express@rea-express.com <br>
              </h3>
            </div>

          </div>
        </div>



      </div>

    </div>


  </section>

  <div id="bgrd"  class="bgrd-image2">
  </div>

</div>





